@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --box-shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --heading-font-size: 30px;
    --font-size: 16px;
    --border-color: #f7f6f2;
    --primary-background-color: #fff;
    --secondary-background-color: #CC6CE7;
    --danger-color: #cb3037;
    --info-color: #872c97;
    --success-color: #53b256;
    --warning-color: #f44336;
    --primary-color: #3F51B5;
    --accent-color: #ff4081;
    --text-color: #fff;
    --text-color-dark: #1a1a1a;
}
  
* {
    // font-family: Sanchez;
    // font-family: 'Roboto Mono', sans-serif;
    font-family: Rubik;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
  
body,
html {
    background: var(--primary-background-color);
    padding: 0;
    margin: 0;
    font-size: var(--heading-font-size);
    overflow-x: hidden;
    color: var(--text-color-dark);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--border-color);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
.hidden-visually {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.secondary-nav {
    width: 100%;
    background: var(--text-color);
    box-shadow: var(--box-shadow-md);
    z-index: 99;
    position: fixed;
    color: var(--text-color-dark);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1;

    .nav-section {
        width: 70%;
        padding: 10px 15px;

        h1 {
            font-size: var(--heading-font-size);
            letter-spacing: 10px;
            font-weight: 200;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
        }

        &:nth-child(1) {
            width: 30%;
        }

        &:nth-child(2) {
            padding-top: 5px;
        }
    }
}

.navbar-toggle {
    border: none;
    background: transparent;
    color: var(--text-color);

    .inline-span {
        display: inline-block;
        vertical-align: top;
        letter-spacing: 2px;
        --font-size: 14px;
        font-size: var(--font-size);
    }

    span {
        height: 1px;
        width: 30px;
        display: block;
        margin: 0 auto;
        transition: all 0.2s ease;
        background: var(--primary-background-color);

        &:nth-of-type(1) {
            margin-bottom: 7px;
        }
    
        &:nth-of-type(3) {
            margin-top: 7px;
        }
    }
}

.navbar-toggle-dark {
    color: var(--text-color-dark);

    span {
        height: 1px;
        width: 30px;
        display: block;
        margin: 0 auto;
        transition: all 0.2s ease;
        background: var(--text-color-dark);
    }
}

.hidden-lg-down {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-center {
    text-align: center;
}
  
.text-right {
    text-align: right;
}
  
.text-left {
    text-align: left;
}

.text-white {
    color: var(--text-color);
}
  
.text-decoration-none {
    text-decoration: none;
}

.inline-list {
    li {
        list-style: none;
        display: inline;

        a {
            text-decoration: none;
            color: var(--text-color);
        }
    }
}
  
.no-margin {
    margin: 0 !important;
}
  
.no-padding {
    padding: 0;
}

p {
    --font-size: 20px;
    font-size: var(--font-size);
}
  

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: var(--box-shadow-xl);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */

    thead {
        tr {
            background: var(--text-color-dark);
            color: var(--text-color);
            text-align: left;
        }
    }

    th,
    td {
        padding: 12px 15px;
    }
    
    tbody {
        tr {
            border-bottom: 1px solid var(--border-color);

            &:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            &:last-of-type {
                border-bottom: 2px solid var(--text-color-dark);
            }
        }

        tr.active-row,
        tr:hover {
            font-weight: bold;
            color: var(--text-color-dark);
        }
    }
}

form {
    width: 100%;
    padding: 20px 10px;

    .form-group {
        width: 100%;
        padding: 10px;

        label {
            --font-size: 16px;
            font-size: var(--font-size);
        }

        .form-control.ng-touched.ng-invalid,
        .form-textarea.ng-touched.ng-invalid {
            border: 1px solid var(--danger-color);
        }

        .form-control,
        .form-textarea {
            border-radius: 5px;
            border: none;
            width: 100%;
            outline: none;
            background: var(--border-color);
            padding: 0 10px;
            box-shadow: var(--box-shadow-md);

            &:focus {
                box-shadow: none;
            }
        }

        .form-helper {
            --font-size: 16px;
            font-size: var(--font-size);
            margin: 5px 2px 0 2px;

            &.danger {
                color: var(--danger-color);
            }
        }
    }

    .form-textarea {
        padding: 10px !important;
        resize: none;
    }

    .form-control {
        height: 35px;
    }
}

.btn:disabled {
    background: var(--secondary-background-color);
    box-shadow: none;
    cursor: not-allowed;
  }
  
.btn {
    // --font-size: 18px;
    font-size: var(--font-size);
    border: none;
    letter-spacing: .0892857143em;
    text-transform: uppercase;
    padding: 10px 20px;
    height: 50px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    box-shadow: var(--box-shadow-xl);
}

.box-shadow-dark {
    box-shadow: 0 10px 20px rgba(0,0,0,0.59), 0 6px 6px rgba(0,0,0,0.23);
}

.btn-lg {
    padding: 15px 25px;
    --font-size: 18px;
    font-size: var(--font-size);
}
  
.btn-default {
    background: var(--text-color-dark);
    color: var(--text-color);
}
  
.btn-block {
    width: 100%;
}
  
.btn-no-border {
    border: none;
    background: transparent;
}
  
.btn-danger {
    background: var(--danger-color);
}

.btn-danger-outline {
    border: 1px solid var(--danger-color);
}

.btn-primary {
    background: var(--primary-color);
}

.btn-primary-outline {
    border: 5px solid var(--primary-color);
    color: var(--text-color-dark) !important;
}

.btn-success {
    background: var(--success-color);
}

.btn-info {
    background: var(--info-color);
}

.btn-warning {
    background: var(--warning-color);
}

.container,
.container-striped {
    width: 100%;
    padding: 20px 15px;
}

.container-striped {
    background: var(--border-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 6px 8px;
    letter-spacing: 5px;
    color: var(--text-color-dark);
}

nav {
    width: 100%;
}

.sidebar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
    color: var(--text-color);
    background: rgba(0, 0, 0, 0.9);
}

.svg-close {
    height: 22px;
}
  
.nav-sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    background: rgba(0, 0, 0, 1);
    box-shadow: var(--box-shadow-2xl);
  
    /* Control sidebar */
    visibility: visible;
    transition: all 1s ease 0s;
}

.closed .nav-sidebar {
    left: 0;
    visibility: visible;
}

.nav-sidebar {
    .nav-cancel-button {
        --font-size: 20px;
        font-size: var(--font-size);
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: center;

        .navbar-list {
            list-style: none;
            padding-left: 10px;
        }

        li {
            p {
                a {
                    font-size: 18px;
                    color: var(--text-color);
                    vertical-align: middle;
                }
            }

            &:not(li:nth-child(1)) {
                padding: 20px 0;
            }

            &:nth-child(1) {
                text-align: right;
                padding: 25px 40px;
            }
            
            a:not(.ignore-anchor-style) {
                --font-size: 35px;
                font-size: var(--font-size);
                text-decoration: none;
                color: var(--text-color);
                font-weight: 500;
                letter-spacing: 0.7rem;
                padding-bottom: 20px;
              }
        }
    }
}
  
.nav-sidebar ul li a:not(.ignore-anchor-style):hover,
.nav-sidebar-active {
    color: var(--secondary-background-color) !important;
    //border-bottom: 3px solid var(--secondary-background-color);
}

.app-logo-section {
    padding-top: 0 !important;
    img {
        width: 150px;
        height: 150px;
    }
}

.sub-heading {
    text-decoration: underline;
}

.full-width {
    width: 100%;
}

footer {
    background: rgba(0, 0, 0, 1);
    padding: 35px 25px;
    color: var(--text-color);

    display: grid;
    grid-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);

    .footer-row {
        padding: 5px 15px;

        &:nth-of-type(2) {
            // background: green;
            padding-bottom: 0;
            border-top: 1px solid #121212;
           
            p {
                font-size: 18px;
                letter-spacing: 2px;

                img {
                    width: 70px;
                    height: 70px;
                    vertical-align: middle;
                }
            }
        }

        &:nth-of-type(1) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex: 1 1;

            .nested-footer-column {
                width: 50%;
                vertical-align: middle;

                .site-links {
                    li {
                        padding: 5px 12px;
                        a {
                            --font-size: 20px;
                            font-size: var(--font-size);
                        }
                    }
                }

                .social-media-links {
                    li {
                        padding: 5px 12px;
                        a, i {
                            --font-size: 25px;
                            font-size: var(--font-size);
                        }
                    }
                }
            }
        }
    }
}

.header {
    width: 100%;
    height: 250px;
    background-size: cover;

    .upper-layer {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: var(--text-color);

        .default-nav {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex: 1 1;

            .nav-section {
                width: 70%;
                padding: 20px 15px;

                h1 {
                    font-size: var(--heading-font-size);
                    letter-spacing: 10px;
                    font-weight: 200;
                    text-shadow: 2px 2px rgba(0, 0, 0, 0.9); 
                }


                img {
                    width: 70px;
                    height: 70px;
                    vertical-align: middle;
                }

                &:nth-child(1) {
                    width: 30%;
                }

                &:nth-child(2) {
                    padding-top: 5px;
                }
            }
        }

        .page-caption {
            width: 100%;
            margin: 0 auto;

            span {
                letter-spacing: 10px;
                padding: 15px 20px;
                background: rgba(0, 0, 0, 0.8);
            }
        }
    }
}

@media (max-width: 992px) { }

@media (max-width: 768px) { 
    .hidden-md-down {
        display: none;
    }

    footer {
        padding: 15px;
    
        .footer-row {
            padding: 5px 15px;
    
            &:nth-of-type(1) {
                flex: 1;
                padding: 5px;
                text-align: center;
    
                .nested-footer-column {
                    width: 100%;
                    vertical-align: middle;
    
                    .site-links {
                        li {
                            padding: 5px 12px;
                            a {
                                --font-size: 20px;
                                font-size: var(--font-size);
                            }
                        }
                    }
    
                    .social-media-links {
                        li {
                            padding: 5px 12px;
                            a, i {
                                --font-size: 25px;
                                font-size: var(--font-size);
                            }
                        }
                    }
                }
            }

            &:nth-of-type(2) {
                text-align: center;
            }
        }
    }
}

@media (max-width: 576px) { 
    .nav-sidebar {
        ul {
            li {
                a {
                    --font-size: 25px;
                }
            }
        }
    }

    .hidden-sm-down,
    .hidden-md-down {
        display: none;
    }

    
    footer {
        padding: 15px;
    
        .footer-row {
            padding: 5px 15px;
    
            &:nth-of-type(1) {
                display: none;
            }

            &:nth-of-type(2) {
                text-align: center;
                border-top: none;
            }
        }
    }

    .header {
        .upper-layer {
            .default-nav {
                .nav-section {
                    width: 70%;
                    padding: 20px 15px;
    
                    h1 {
                        --heading-font-size: 20px;
                        letter-spacing: 5px; 
                    }
    
    
                    img {
                        width: 70px;
                        height: 70px;
                        vertical-align: middle;
                    }
                }
            }
    
            .page-caption {
    
                span {
                    --font-size: 18px;
                    font-size: var(--font-size);
                }
            }
        }
    }

    .secondary-nav {   
        .nav-section {
            width: 40%;
            padding: 10px 15px;
    
            h1 {
                --heading-font-size: 20px;
                letter-spacing: 5px;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
                
            }
    
            &:nth-child(1) {
                width: 60%;
                padding-top: 20px;
            }
        }
    }
    
    .nav-sidebar {
        ul {
            li {
                a {
                    font-size: 25px !important;
                    color: var(--text-color);
                }

                p {
                    a {
                        font-size: 20px !important;
                    }
                }
                
            }
        }
    }
}

@media (max-width: 300px) { 
    form {
        padding: 20px 0;
    }

    .nav-sidebar {
        ul {
            li {
                a {
                    --font-size: 20px;
                    letter-spacing: 0.5rem;
                }
            }
        }
    }

    .hidden-sm-down,
    .hidden-md-down {
        display: none;
    }
    
    footer {
        padding: 15px;
    
        .footer-row {
            padding: 5px 15px;
    
            &:nth-of-type(1) {
                display: none;
            }

            &:nth-of-type(2) {
                text-align: center;
                border-top: none;
            }
        }
    }

    .header {
        .upper-layer {
            .default-nav {
                .nav-section {
                    width: 70%;
                    padding: 20px 15px;
    
                    h1 {
                        --heading-font-size: 20px;
                        letter-spacing: 5px; 
                    }
    
    
                    img {
                        width: 70px;
                        height: 70px;
                        vertical-align: middle;
                    }
                }
            }
    
            .page-caption {
    
                span {
                    --font-size: 18px;
                    font-size: var(--font-size);
                }
            }
        }
    }

    .secondary-nav {   
        .nav-section {
            width: 40%;
            padding: 10px 15px;
    
            h1 {
                --heading-font-size: 20px;
                letter-spacing: 5px;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
                
            }
    
            &:nth-child(1) {
                width: 60%;
                padding-top: 20px;
            }
        }
    }

    .nav-sidebar {
        ul {
            li {
                a {
                    font-size: 25px !important;
                    color: var(--text-color);
                }

                p {
                    a {
                        font-size: 20px !important;
                    }
                }
                
            }
        }
    }
}
  