@import url("./base.css");

.page-content {
    width: 50%;
    margin: 0 auto;
    padding: 8% 20px;
}

.form-group {
    p {
        --font-size: 16px;
        font-size: var(--font-size);

        a {
            color: var(--text-color-dark);
        }
    }
}

@media (max-width: 992px) { }

@media (max-width: 768px) {
    .page-content { 
        width: 80%;
    }
 }

@media (max-width: 576px) {
    .page-content { 
        width: 100%;
    }
 }

@media (max-width: 300px) { 
    .page-content { 
        width: 100%;
    }
}